<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center  gradient-background">
    
    <div class="bg-white p-8 rounded-lg shadow-md w-1/3">

        <h1 class="text-2xl font-semibold mb-4">Signup</h1>
        <form action="http://127.0.0.1:4000/signup_api" method="post" class="space-y-4">
            
            <div>
                <label for="email" class="block font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" class="w-full mt-1 p-2 rounded border" required>
            </div>

            <div>
                <label for="username" class="block font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" class="w-full mt-1 p-2 rounded border" required>
            </div>

            <div>
                <label for="password" class="block font-medium text-gray-700">Password</label>
                <input type="password" id="password" name="password" class="w-full mt-1 p-2 rounded border" required>
            </div>

            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 w-full">
                Signup
            </button>
        </form>
    </div>
</body>
</html>
